.ReactModal__Overlay {
    z-index: 99999;
  }

  
  .ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
  }
  
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    border-radius: 5px;
    color: black;
    outline: none;
    padding: 2rem 4rem;
    position: relative;
    text-align: center;
    background: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 77, 77, 0.75);
  }

.beta-form__close {
  position: relative;
	padding: 10px 15px 10px 15px;
	color: #FFF;
	margin: 0 auto;
  background-color: #3692d8;
	font-size: 16px;
	text-align: center;
	font-style: normal;
	width: 80px;
  border-radius: 10%;
	border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.beta-form__button {
  position: relative;
	padding: 10px 10px;
	color: #FFF;
	margin: 0 auto;
  background-color:#438dc5;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	width: 150px;
  border-radius: 10%;
	border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-left: 10px;
}

input[type="email"] {
  display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
  border-radius: 6px;
  background-color: #e8eeef;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.beta-form__text {
  margin-bottom: 20px;
}
