.App {
  text-align: center;
}

header {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 70px;
  padding-bottom: 45px;
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 440px) {
 header {
   padding-top: 90px; 
 }
    
}
